<h1>{{ empanada.nombre }}</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <img [src]="empanada.img" [alt]="empanada.nombre" class="img-fluid" />
        <br /><br />
        <a [routerLink]="['/empanadas']" class="btn btn-outline-secondary btn-block">Volver</a
    >
  </div>
  <div class="col-md-8">
    <h3>{{ empanada.nombre }}</h3>
    <hr />
    <p>{{ empanada.desc }}</p>
    <div>
      <div style="margin-bottom: 15px;">
        {{ empanada.precio }}
      </div>
      <button type="button" class="btn btn-outline-primary btn-lg">
        <i class="fa fa-fw fa-shopping-cart"></i>
        Agregar al carrito
      </button>
    </div>
  </div>
</div>