<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active animated fadeIn">
                <img src="../../../assets/img/aceite.jpg" class="d-block w-100" alt="aceite" />
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="color: black;">Aceite de oliva virgen Extra</h5>
                    <p style="color: black;">
                        <strong>Hechas con el mejor aceite de oliva</strong>
                    </p>
                </div>
            </div>
            <div class="carousel-item animated fadeIn">
                <img src="../../../assets/img/pan.jpg" class="d-block w-100" alt="pan" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>La masa</h5>
                    <p>Nuestra masa es fresca, hecha a mano y recién horneada</p>
                </div>
            </div>
            <div class="carousel-item animated fadeIn">
                <img src="../../../assets/img/pimientos.jpg" class="d-block w-100" alt="pimientos" />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Productos frescos</h5>
                    <p>
                        Nuestro secreto está en utilizar sólo los mejores productos frescos de temporada
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>