<h1 class="animated fadeIn">Esta es nuestra historia</h1>
<hr />

<p class="animated fadeIn">
    La deuda de la humanidad con la Argentina es una de esas deudas históricas que nunca se acaban saldando. O al menos no equitativamente. Nosotros les llenamos aquellas tierras baldías de españoles, italianos y judíos, y ellos a cambio nos dieron a Jorge
    Luis Borges, Charly García, Lionel Messi y sus empanadas. No hemos tenido el placer de viajar a terreno argentino para probarlas in situ pero lo que sigue es sin duda la lista de las mejores empanadas argentinas que hemos probado en Madrid.
</p>
<div style="text-align: center;">
    <img src="../../../assets/img/chef.jpg" alt="chef" class="img-fluid animated fadeIn" />
</div>