<h1 class="animated fadeIn fast">
    RESULTADOS PARA: <small>{{ termino }}</small>
</h1>
<hr />
<br />

<div class="row" *ngIf="empanadas.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ termino }}
        </div>
    </div>
</div>

<div class="card-columns animated fadeIn">
    <app-empanadacard [empanada]="empanada" [index]="empanada.id" *ngFor="let empanada of empanadas; let i = index"></app-empanadacard>
</div>